.headerConatainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.title {
    text-decoration: none;
    color: #eee;
    font-family: 'Sansita Swashed', cursive;
}

@media (max-width:565px) {
    .headerConatainer {
        flex-direction: column;
    }
}