.containerCharacter {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.containerImg {
    width: 40%;
    height: 40%;
    margin: auto;
}

.img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: contain;
}

.title {
    font-size: 50px;
    padding-top: 20px;
    margin: 0;
}

.episodes {
    padding-top: 20px;
    margin: 0;
    font-size: 30px;
}

.GoBack {
    color: #fff;
    text-decoration: none;
    transition: all 300ms ease-in-out;
    border: 2px solid #555;
    border-radius: 20px;
    padding: 5px;
    background-color: #555;
}

.GoBack:hover {
    background-color: #171C28;
}

@media (max-width: 1000px) {
    .containerCharacter {
        margin-top: 30px;
    }

    .containerImg {
        width: 70%;
        height: 70%;
        margin: auto;
    }
}

@media (max-width: 730px) {
    .containerImg {
        width: 80%;
        height: 80%;
        margin: auto;
    }
}